body {
    font-family: "Poppins", sans-serif;
}

.banner {
    background-image: url(../Images/Back_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0;
}

.skills-padding {
    padding: 70px 0;
}